<h1>Pictures</h1>

<%= link_to("New Picture", "/pictures/new") %>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <img src="<%= picture.url %>" alt="<%= picture.title %>">
<% end %>

<h1>Pictures created more than a month ago</h1>

  <% @month.each do |picture| %>
    <img src= "<%= picture.url %>" alt="<%= picture.title %>">
  <% end %>
